---
import "./styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="A crowdsourced web app for mapping University of Birmingham printers"
		/>
		<title>Coming soon!</title>
	</head>
	<body>
		<h1 class="text-4xl font-mono font-bold text-center mt-20">
			BHAMPRINTERS
		</h1>
		<h2 class="text-2xl font-mono font-semibold text-center mt-4">
			Crowdsourced web app for mapping University of Birmingham printers
		</h2>
		<p class="text-xl font-mono text-center mt-10">Coming soon!</p>
	</body>
	<footer>
		<p class="text-center mt-10">
			Get Involved: <a href="https://github.com/edapm/bhamprinters" target="_blank">Contribute on GitHub</a>
		</p>
		<p class="text-center mt-20 mb-10">
			(c) 2025 Ed Mason. Hosted on Netlify.
		</p>
	</footer>
</html>
