---
export const prerender = false;
import "../styles/global.css";
import { supabase } from "../lib/supabase";
import Map from "../components/Map.astro";
import PrinterForm from "../components/PrinterForm.astro";

const { data: printers } = await supabase.from("printers").select("*");
---

<html>
	<head>
		<title>BHAMPRINTERS: HOME</title>
	</head>
	<body>
		<Map printers={printers} />
		<h1 class="text-4xl font-mono text-center p-2">BHAMPRINTERS</h1>
		<h2 class="text-2xl text-center p-2">
			Crowdsourced map of University of Birmingham printers
		</h2>
		{/*<PrinterForm />*/}
	</body>
	<footer class="text-center mt-10">
		<span>
			<a
				href="https://github.com/edapm/bhamprinters"
				target="_blank"
				class="text-blue-500 hover:underline">Contribute on GitHub</a
			>
		</span>
		<br />
		<span class="text-center mt-20 mb-10">
			(c) 2025 Ed Mason
		</span>
	</footer>
</html>
