---
import "../styles/global.css";
import { supabase } from "../lib/supabase";
import Map from "../components/Map.astro";
import PrinterForm from "../components/PrinterForm.astro";

const { data: printers } = await supabase.from("printers").select("*");
---

<html>
	<head>
		<title>BHAMPRINTERS: HOME</title>
	</head>
	<body>
		<h1 class="text-4xl font-mono text-center p-2">BHAMPRINTERS: University of Birmingham Printers</h1>
		<Map printers={printers} />
		{/*<PrinterForm />}*/}
	</body>
</html>
