---
export const prerender = false;
import "../styles/global.css";
import Map from "../components/Map.astro";
const locations = import.meta.glob("../data/locations/*.json", {
	eager: true,
	import: "default",
});
const printers = Object.values(locations);
---

<html>
	<head>
		<title>BHAMPRINTERS: HOME</title>
	</head>
	<body>
		<Map printers={printers} />
		<h1 class="text-4xl font-mono text-center p-2">BHAMPRINTERS</h1>
		<h2 class="text-2xl text-center p-2">
			Crowdsourced map of University of Birmingham printers
		</h2>
	</body>
	<footer class="text-center mt-10">
		<span>
			<a
				href="https://github.com/edapm/bhamprinters"
				target="_blank"
				class="text-blue-500 hover:underline">Contribute on GitHub</a
			>
		</span>
		<br />
		<span class="text-center mt-20 mb-10"> (c) 2025 Ed Mason </span>
	</footer>
</html>
