---
import "../styles/global.css";
---

<footer class="text-center mt-10">
	<span>
		<a
			href="https://github.com/edapm/bhamprinters"
			target="_blank"
			class="text-blue-500 hover:underline">Contribute on GitHub</a
		>
	</span>
	<br />
	<span class="text-center mt-20 mb-10"> (c) 2025 Ed Mason </span>
</footer>