---
import "../styles/global.css";
---

<div id="map" style="height: 70vh; width: 100%;">
	<iframe
		src="https://www.google.com/maps/d/embed?mid=1QR_JQHTcj4M-owjlhBQ6yNqQ9bBDgYA&ehbc=2E312F"
		width="100%"
		height="100%"></iframe>
</div>
